<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
     <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
          background-color: rgb(208, 213, 213);
            
        }

        h1 {
            margin-top: 0;
        }

        form {
            max-width: 300px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        p {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="color: rgb(9, 113, 117);">Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>{{message}}</p>
</body>
</html>
